* {
  font-family: monospace;
  color: white;
  text-align: center;
}

html,
body {
  background: #555;
}

canvas {
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 8px;
  border-color: #fff;
}

h1 {
  display: block;
  margin: 0 auto;
}

button {
  background-color: cadetblue;
  border-color: cadetblue;
  border-radius: 5px;
  padding: 0.5rem;
}

button:hover {
  border-color: white;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}
